.navbar {
  
  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline;
      padding-right: 40px;

      @media (max-width: 450px) {
        display: block;
        padding: 0;
      }
      
      span {
        font-size: 30px;
      }

      .navLinks {
        color: #A9A9A9;
        font-size: 20px;
        position: relative;
      }

      // from https://codepen.io/jstn/pen/zuDst
      a:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: black;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      a:hover:after { 
        width: 100%; 
        left: 0; 
      }
    }
  }
}