#content {
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow-y: hidden;
  margin: 0 auto;
  max-width: 50rem;

  @media (max-width: 750px) {
    margin-left: 25px;
    margin-right: 25px;
  }
}
